{% extends 'base.html' %}

{% block head %}
    <title>Filter Urls</title>
{% endblock %}

{% block body %}
    <h1>Filter Urls</h1>       
    <div class="content-section">
        <form id="urlFilterForm" action="/exclude_url" method="POST">
        <table class="table">
            <tr>
                <th scope="col">Url #</th>
                <th scope="col">Url</th>
                <th scope="col">
                    <input type="checkbox" id="selectAll" onclick="toggleSelectAll(this)"/>
                    <label for="selectAll">Exclude All?</label>
                </th>
            </tr>
            {% for url in urls %}
            <tr>
                <td>
                    {{ url.url_num }}
                </td>
                <td> 
                    <a href="{{ url.address }}" target="_blank"> {{url.address}}</a> 
                </td>
                <td> 
                    <input type="checkbox" id="exclude" name="exclude" class="exclude-checkbox" value="{{ url.url_num }}"/>
                    <label for="exclude">Exclude Url</label>
                </td>
            </tr>
            {% endfor %}
        </table>
        <button class="btn btn-danger" type="submit">Remove Excluded Urls</button>
    </form>
    </div>
    <div class ="content-section"> 
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Submit Url</legend>
                <div class="form-group">
                    {{ form.company_name.label(class="form-control-label") }}
                    {{ form.company_name(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.source_lang.label(class="form-control-label") }}
                    {{ form.source_lang(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    <label class="form-control-label">Target Languages</label>
                    {% for checkbox in form.target_lang %}
                        <div class="form-check">
                            {{ checkbox(class="form-check-input") }}
                            <label class="form-check-label" for="{{ checkbox.id }}">
                                {{ checkbox.label.text }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    <script>
        function toggleSelectAll(selectAllCheckbox) {
            const checkboxes = document.querySelectorAll('.exclude-checkbox');
            checkboxes.forEach((checkbox) => {
                checkbox.checked = selectAllCheckbox.checked;
            });
        }
    </script>
{% endblock %}