{% extends 'base.html' %}

{% block head %}
    <title>Filter Urls</title>
{% endblock %}

{% block body %}
    <h1>Filter Urls</h1>       
    <div class="content-section">
        <table class="table">
            <tr>
                <th scope="col">Url #</th>
                <th scope="col">Url</th>
                <th scope="col">Title</th>
                <th scope="col">Exclude?</th>
            </tr>
            {% for url in urls %}
            <tr>
                <td>
                    {{ url.url_num }}
                </td>
                <td> 
                    <a href="{{ url.address }}" target="blank"> {{url.address}}</a> 
                </td>
                <td>
                    {{url.title}}
                </td>
                <td> 
                    <a class="btn btn-danger" href="/exclude_url/{{ url.url_num }}">Exclude</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class ="content-section"> 
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <fieldset class = "form-group">
                    <legend class = "border-bottom mb-4">Submit Url</legend>
                    <div class="form-group">
                        {{ form.company_name.label(class="form-control-label")}}
                        {{ form.company_name(class="form-control form-control-lg")}}
                    </div>
                    <div class="form-group">
                        {{ form.source_lang.label(class="form-control-label")}}
                        {{ form.source_lang(class="form-control form-control-lg")}}
                    </div>
                    <div class="form-group">
                        {{ form.target_lang.label(class="form-control-label")}}
                        {{ form.target_lang(class="form-control form-control-lg")}}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary")}}
                </div>
            </form>
        </div>
    </div>
{% endblock %}