.form-group{
    padding: 10px;
}
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    color: #343a40;
}
.content-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}
h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 40px;
    color: #343a40;
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
}
legend {
    font-size: 1.5rem;
    color: #495057;
    border-bottom: 2px solid #dee2e6;
    padding-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    background-color: #343a40;
    color: white;
    padding: 10px;
    text-align: left;
}
td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}
.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
}
.form-group {
    margin-bottom: 20px;
}
.form-check {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.form-control-lg {
    font-size: 1rem;
}
.form-control-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-check-input {
    margin-right: 10px;
}
.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}
.form-check-label {
    margin-left: 5px;
}
#loading-screen, #complete-screen {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
h1.display-4 {
    font-size: 2.5rem;
    font-weight: bold;
}
.spinner-border {
    width: 3rem;
    height: 3rem;
    margin-top: 20px;
}
.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
#current-url {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #6c757d;
}
#current-url {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #6c757d;
}
#complete-screen a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #007bff;
    margin-top: 20px;
    display: inline-block;
}

#complete-screen a:hover {
    text-decoration: underline;
}

#complete-screen i {
    margin-right: 8px;
}
.lead{
    padding-left: 20px;
    padding-top: 20px;
}